<section class="container-md">
  <form #mForm="ngForm">
    <div class="form-group">
      <label class="text-warning" for="title">Movie Title:</label>
      <input id="title" type="text" class="form-control" required pattern="" name="title" [(ngModel)]="movie.title">
    </div>
    <div class="row">
      <div class="form-group col-6">
        <div class="conatiner col-md">

          <form class='urlap1'>
            <div class="form-group">
              <label class="text-warning" for="title">Movie Title</label>
              <input type="text" class="form-control" id="title" placeholder="Movie Title">
            </div>
            <div class="form-group">
              <label class="text-warning" for="year">Release year</label>
              <input type="text" class="form-control" id="year" placeholder="Release year">
            </div>
            <div class="form-group">
              <label class="text-warning" for="category">Category</label>
              <select class="form-control" id="category">
                <option>Choose Category</option>
                <option>Drama</option>
                <option>Action</option>
                <option>Fantasy</option>
              </select>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>

      </div>
      <div class="form-group col-6">

      </div>
    </div>

  </form>


</section>
